header {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: height .5s ease-in-out;

    >nav {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        display: flex;

        #nav-brand {
            font-size: 26px;
            color: #fff;
            transition: all .5s ease-in-out;

            &:hover,
            &:focus {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .explore-wrapper {
        position: absolute;
        bottom: 18px;
        right: 15px;
        font-size: 18px;
        transition: all .5s ease-in-out;

        >.btn {
            font-size: inherit;
            opacity: .7;
            >i {
                margin-right: 12px;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}

.search-active header {
    height: 97px;

    #nav-brand {
        margin-top: 1px;
        font-size: 14px;

        @media (min-width: $breakpoint-md) {
            font-size: 20px;

            >.fw-3 {
                display: block;
            }
        }
    }

    .explore-wrapper {
        bottom: 54px;
        font-size: 12px;
    }

    @media (min-width: $breakpoint-md) {

        height: 80px;

        .explore-wrapper {
            bottom: 14px;
            font-size: 24px;

            >.btn {
                >i {
                    margin-right: 0;
                }
                >span {
                    display: none;
                }
            }
        }
    }

    @media (min-width: $breakpoint-lg) {

        .explore-wrapper {
            bottom: 7px;
            >.btn {
                line-height: 1.35;
                >span {
                    display: block;
                    font-size: 13px;
                }
            }
        }

    }

}